#form-login {
  width: 30%;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  input {
    padding: 1em;
    border-radius: 5px;
    border: {
      width: 1px;
      color: #d4d4d4;
      style: solid;
    }
    margin: 10px 0;
    &::placeholder {
      color: #8a8a8a;
    }
  }
  button {
    background: #2980b9;
    color: #f1f1f1;
    border: none;
    padding: 1em;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 100;
  }
}

.bloco {
  width: 100%;
}

.display-flex {
  display: flex;
}

.em-coluna {
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#notify {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 2px;
}

.res {
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px 10px;

  .icon{
    font-size: 20px;
    margin-left: 10px;
  }
}

.error{
  border: 1px solid #e74c3c !important;
  box-shadow: 0 0 2px rgba(217, 42, 41, 0.3) !important;
}

.check{
  border: 1px solid #49e766 !important;
  box-shadow: 0 0 2px rgba(73, 231, 102, 0.29) !important;
}

.true {
  border-left: {
    width: 5px;
    style: solid;
    color: #37954b;
  }
;
  color: #1a1a1a;

  .icon {
    color: #37954b;
  }
}

.false {
  border-left: {
    width: 5px;
    style: solid;
    color: #c0392b;
  }
;
  color: #1a1a1a;

  .icon {
    color: #c0392b;
  }
}
.saudacao{
  padding: 20px;
  background: white;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
}